@use '../../scss/abstracts' as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 0 2rem;
  background-color: $primary;
}
